body {
  background-color: gray;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.content-area {
  margin: 30px;
}
.input-area {
  margin: 25px;
}
.task-text {

  height: 40px;
}
.hidden {
  display: none;
}
.delete-icon-area {
  display: flex;
  align-items: center;
  height: 40px;
}
.delete-icon {
  color: black;
}
.complete {
  text-decoration: line-through;
}
.btn-add-task {
  background: gray;
  color: white;
}
.btn-add-task:hover {
  background-color: darkgray;
  color: white;
}
h2 {
  
  padding: 40px;
  
}
.app-name {
color: white;
padding: 20px;
font-size: 20px;
}
.nav-container {
  margin: 0;
  padding: 0;
}
.body-container {
  background-color: white;
  margin: 0;
}
.content-flex {
  display: flex;
  flex-direction: row;
}
.center {
  margin: auto;
  margin-top: 50px;
}
/* SideBar */
.sidenav {
  height: 100%;
  /* width: 160px; */
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 65px;
}

.sidenav .list-button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav .list-button:hover {
  color: #f1f1f1;
}
.btn-add-list {
  background: gray;
  color: white;
  margin-top: 5px;
}
.btn-add-list:hover {
  background-color: darkgray;
  color: white;
}

/* End SideBar */